#container {
  background-image: url(https://occ-0-7587-3852.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABUhUvTfxLzyrTNRjzAD3pZ49nWT0bffmm12O41jDVE4trPCmaP3sW2mEc8TeUN0d1H0-SpULvyZGIac-DFIp8HL4LEnPDPE9_ZTd.webp?r=cc0);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
}
